.App {
  text-align: center;
}

.main-container:not(.in-item){
  z-index: 1;
  background-color: white;
}
#root{
  min-height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}
#root::after{
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(2px);
  background-color: #282c3493;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar{
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #191923;
  color: #eee;
  font-weight: 600;
  position: sticky;
  top: 0;
  transition: 400ms;
  z-index: 100;
}
#root{
  backdrop-filter: blur(3px) grayscale(.5);   
}
.show{
  background-color: #191923;
  backdrop-filter: blur(8px);
}
ul{
  list-style: none;
  padding: 0;
}

.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 10px;
  margin: 0;
}
a{
  text-decoration: none;
}
.main-header{
    color: #eee;
    text-transform: uppercase;
    text-shadow: 4px -2px 10px rgba(0, 0, 0, 0.603);
}
.nav-links a:not(.cart){
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  transition: 100ms;
}
.nav-links > *:hover a:not(.cart){
  cursor: pointer;
  background-color: rgba(153, 153, 153, 0.253);
}
.nav-links .active:not(.cart){
  border-bottom: 2px solid #FAFAFA;
}
.nav-search-input{
  background-color: rgba(255, 255, 255, 0.24);
  outline: none;
  border: none;
  height: 41px;
  border-radius: 5px;
  width: 300px;
  font-weight: 500;
  color: white;
  padding: 5px 10px;
  backdrop-filter: blur(9px);
  font-size: 1.2rem;
}
.search-bar-container  span{
  content: '';
  position: absolute;
  width: 200%;
  height: 2px;
  background-color: gainsboro;
  bottom: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: 500ms;
}
.nav-search-input:focus ~ *{
  transform: scaleX(1);
}
.search-bar-container{
  display: flex;
  height: fit-content;
  position: relative;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}
.search-icon{
  color: #282c34;
  right: 10px;
  height: 100%;
  position: absolute;
  transition: 500ms;
}
.nav-search-input:focus ~ .search-icon{
  color: gainsboro;
}
.cart{
  position: relative;
  padding: 0;
  color: #eee;
}
.cart-count{
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
  margin-right: -3px;
  background-color: #282c3400;
  width: 22px;
  height: 22px;
  font-size: .8rem;
  font-weight: 600;
  border-radius: 50%;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
.logo{
  height: 60px;
}
#root{
  background-size: 100% 100%;
  background-attachment: fixed;
}
.main-container.in-item{
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
}
.main-menu{
  display: none;
}

@media (max-width: 850px) {
  .cart-products-tags{
    justify-content: center;
  }
  .cart-products{
    padding: 10px !important;
  }
  .cart-main-container img{
    display: none;
  }
  .cart-order{
    gap: 10px;
  }
  .cart-modal-container *{
    font-size: .7rem !important;
  }
  .cart-main-container{
    height: auto !important;
    padding: 10px;
  }
  .home-modal{
    align-items: center !important;
  }
  .home-modal *{
    font-size: 1rem !important;
  }
  .main-menu{
    display: block;
  }
  .main-menu + ul{
    display: none;
  }
  .home-frame{
    object-fit: cover;
  }
  .logo{
    height: 40px;
  }
  .nav-bar{
    padding: 25px;
    height: 75px;
  }
  .detailedItem section{
    width: auto;
    padding:10px;
    
  }
  .detailedItem *{
    font-size: .9rem !important;
  }
  .detailedItem .shop-item-platforms a{
    font-size: .7rem !important;
  }
  .detailedItem .external-links *{
    font-size: .7rem !important;
    padding: 5px 10px;
  }
}

.main-menu.menu-expanded + ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 100;
  position: absolute;
  inset: 0;
  height: 100vh;
  backdrop-filter: blur(8px);
    background-color: #191923d2;
}

.blurred-background{
  position: fixed;
  inset: 0;
  backdrop-filter: blur(8px);
    background-color: #191923d2;
    z-index: 99;
}
.body-fixed{
  overflow: hidden;
  width: 100%;
}