.shop-item-cover{
    width: 100%;
    height: 100%;
    transition: 400ms ease-in;
    filter: grayscale(.4);
}
.shop-img-container{
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
}
.shop-img-container::after{
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: inset 0px 0px 80px black;
    transition: 400ms;
}
.shop-item:hover .shop-img-container::after {
    box-shadow: inset 0px 0px 80px rgb(97, 97, 97);
}
.shop-items-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 54px 26px;
    max-width: 1100px;
    margin: auto;
}
.shop-item:hover .shop-item-cover{
    filter: grayscale(0);
    transform: scale(1.04);
}
.shop-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;
    position: relative;
    background-color: white;
}
.shop-item:hover{
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.514);
}


.shop-item-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    position: relative;
    font-family: inherit;
    font-size: 1em;
    line-height: 1em;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: box-shadow 0.2s ease, background-color 150ms ease;
    width: 90%;
    padding: 0;
    margin: 0px 20px 20px 20px
}
.shop-item-button:active , .shop-item-button:hover{
    background-color: #eee;
}
.shop-item:focus{
    outline: none;
}
#cart {
    margin-right: 12px;
    transform-origin: 20% 100%;
    opacity: 1;
}

@keyframes slide-up-fade {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-16px);
        opacity: 0;
    }
}

@keyframes roll-out {
    0% {
        transform: translate(0) rotate(0);
    }

    20% {
        transform: translate(0) rotate(-70deg);
        opacity: 1;
    }

    50% {
        transform: translate(0) rotate(-45deg);
        opacity: 1;
    }

    100% {
        transform: translate(140px) rotate(-47deg);
        opacity: 0;
    }
}

.checked-out .shop-item-button span {
    animation: slide-up-fade 150ms 1;
    animation-fill-mode: both;
}

.checked-out #cart {
    animation: roll-out 1s 1 150ms;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

@keyframes checkmark {
    from {
        stroke-dashoffset: 26px;
    }

    to {
        stroke-dashoffset: 0;
    }
}

#check {
    position: absolute;
    left: calc(50% - 12px);
}

#check path {
    stroke-dasharray: 26px;
    stroke-dashoffset: 26px;
}

.checked-out #check path {
    animation: checkmark 150ms 1 1150ms;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

.checked-out .shop-item-button {
    background-color: #20bf6b;
    transition-delay: 1150ms;
}
svg{
    height: 24px;
    width: 24px;
}

.stars{
    position: absolute;
    width: 100px;
    bottom: 40px;
    font-size: 1.5rem;
    z-index: 10;
    left: 10px;
}
.stars > *{
    position: absolute;
    overflow: hidden;
        color: rgba(255, 255, 255, 0.384);
}
.shop-name-date-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 25px;
}
.shop-item-date{
    color: gray;
}
.shop-item-name{
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 2px -2px 5px rgba(0, 0, 0, 0.37);
}
.shop-esrb{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.274);
    padding: 4px 25px;
    backdrop-filter: blur(8px);
    z-index: 10;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px;
}

.shop-item-platforms{
    padding: 15px 25px 0px 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.shop-item-platforms a {
    color: black;
    box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.507);
    padding: 4px 12px;
    font-weight: 600;
    border-radius: 50px;
}